<div
  class="ember-tether"
  {{did-insert this.addTether}}
  {{did-update this.updateTether @classPrefix @target @attachment @targetAttachment @offset @targetOffset @targetModifier @constraints @optimizations}}
  ...attributes
>
  {{yield}}
</div>